<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292633209757-qq682nh0ekemog0bgpjr2fkn3qc78s49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292633209757-qq682nh0ekemog0bgpjr2fkn3qc78s49</string>
	<key>API_KEY</key>
	<string>AIzaSyBWvF9fprM9c_wuXxoKHa7JvMhoyEAirxo</string>
	<key>GCM_SENDER_ID</key>
	<string>292633209757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.useMeApp</string>
	<key>PROJECT_ID</key>
	<string>usemeapp-001</string>
	<key>STORAGE_BUCKET</key>
	<string>usemeapp-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292633209757:ios:2b78799423cb72c5521d74</string>
</dict>
</plist>